<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [1]:
#query = f"""
#firstname = 'Michael'; lastname = 'Attoh'
#full_name = 'Michael Attoh'

#Country = 'Ghana'; City = 'Accra' ; age = 52; is_married = 'NO'; is_true = 'Yes'
#"""
#print(query)


firstname = 'Michael'; lastname = 'Attoh,'
full_name = 'Michael Attoh,'
Country = 'Ghana,' 
City = 'Accra,' 
age = 52
is_married = 'NO,'
is_true = 'Yes'


print(firstname, lastname, full_name, Country, City, age, is_married, is_true)

Michael Attoh, Michael Attoh, Ghana, Accra, 52 NO, Yes

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [2]:
type(firstname)

str

In [3]:
type(lastname)

str

In [4]:
type(full_name)

str

In [5]:
type(Country)

str

In [6]:

type(City)

str

In [7]:
type(age)

int

In [8]:
type(is_married)

str

In [9]:
type(is_true)

str

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [10]:
x = -3
y = x**2 + 6*x + 9
print(y)

0

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [11]:
age = int(52)
height = float(5.11)
b = 5
h = 9
x = (b,h)
A = 0.5 * x[0]*x[1]
print(A)

22.5

22.5

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [13]:
a = input("Enter a: ")
b = input("Enter b: ")
c = input("Enter c: ")

perimeter = float(a) + float(b) + float(c)

print ("perimeter equals", perimeter)

Enter a: 5
Enter b: 8
Enter c: 85
perimeter equals 98.0

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [14]:
length = input("Enter length: ")
width = input("Enter width: ")
area = float(length) * float(width)
perimeter = 2*float(length) + 2*float(width)

print ("area =",area)
print("perimeter =", perimeter)

Enter length: 5
Enter width: 5
area = 25.0
perimeter = 20.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [15]:
radius = input("Enter radius: ")
pi = 3.14
area = float(pi) * float(radius) ** 2
circumference = float(2)  * float(pi) * float(radius)

print("area =", area)
print ("circumference equals", circumference)

Enter radius: 8
area = 200.96
circumference equals 50.24

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [16]:
def y(x):
    return 2*x - 2

def x(y):
    return (y + 2)/2

print("y_intercept =", y(0))
print("x_intercept =", x(0))

y_intercept = -2
x_intercept = 1.0

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [18]:
hours = input("Enter hours: ")
hourly_rate = input("Enter hourly_rate: ")
salary = float(hours) * float(hourly_rate)

print ("salary =",salary)

Enter hours: 10
Enter hourly_rate: 25
salary = 250.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [25]:
years = input("enter years: ")

seconds_lived = float(years) * 86400

print("seconds_lived =", seconds_lived)

enter years: 2
seconds_lived = 172800.0

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [24]:
for i in range(1,6):
    print(i,1,i,i*i,i*i*i)
    print('\n')

1 1 1 1 1


2 1 2 4 8


3 1 3 9 27


4 1 4 16 64


5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [50]:
time = input("enter time: ")
distance = input("enter distance: ")
speed = float(distance) / float(time)
print("speed = ", speed)

enter time: 10
enter distance: 50
speed =  5.0

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [55]:
radius = input("enter radius: ")
height = input("enter height: ")
volume_of_cone = (1/3) * 3.14 * (float(radius)**2) * float(height)
print("volume_of_cone =", volume_of_cone)

enter radius: 5
enter height: 10
volume_of_cone = 261.66666666666663

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [2]:
integer = int(input("enter integer: "))
while integer < 0:
    integer = int(input("enter integer: "))
n=0
while ( integer % 2==0 ):
    integer=integer/2
    n=n+1
print(n)

enter integer: 8
3

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

In [18]:
import random
repeat = True
while repeat:
    print(random.randint(2,12))
    print('again?')
    repeat = 'Y' in input()

12
again?
Y
7
again?
Y
3
again?
n

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [3]:
first_name = input("enter first_name: ")
surname = input("enter surname: ")
country_of_origin = input("enter country_of_origin: ")
age = input("enter age: ")
print(first_name, surname, country_of_origin, age)

enter first_name: Michael
enter surname: Attoh
enter country_of_origin: Ghana
enter age: 52
Michael Attoh Ghana 52

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [21]:
num_one = 5
num_two = 4
total =num_one + num_two
diff = num_one - num_two
product = num_one * num_two
division= float(num_one) / float(num_two)
exp= num_one ** num_two

the sum is  9

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! / CONGRATULATIONS! 🎉 </span> </b></center>

In [91]:
5//2

2